/* Please read through the provided code below to understand it */
/* PERSONAL CODE */

.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	height: 60px;
	text-align: center;
	z-index: 10;
	box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
}

.nav-item {
	color: black;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
	position: relative;
  top: 18px;
}

.carousel-container {
	width: 960px;
	margin: 0 auto;
	height: 620px;
	overflow: hidden;
	position: relative;
}

#carousel {
	width: 4800px;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}

.carousel-item {
	width: 960px;
	position: relative;
	height: 100%;
	float: left;
}

.image {
	width: 100%;
	height: auto;
}

#anemone {
	transform: translateY(-240px);
}

/* QUESTION #5: PLACE "OTHER CSS" STYLES BELOW */
.section {
	width: 100%;
	height: 620px;
	position: relative;
}

#name-section {
	background-color: #2bde73;
}

#major-section {
	background-color: #8bb2af;
}

#fact-section {
	background-color: #fff;
}

#fact-text {
	color: black;
}

/* DOCUMENT SET UP */

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}

/* FREEBIES */
.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

/* Styling for the carousel previous button */
#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
}

/* Styling for the quotes and text in each section */
.text {
	position: absolute;
	font-size: 36px;
	color: white;
	font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}


/* https://css-tricks.com/pointer-events-current-nav/ */
/* Disable link to current page*/

#workshops-link:before {
	pointer-events: none;
  visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}


/* Underline Animations */
/* http://stackoverflow.com/questions/2434602/css-setting-width-height-as-percentage-minus-pixels */

nav a {
  position: relative;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}

/* Add border, hide it through transformation */
nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
	/*background-color: #000;*/
  background-color: #04abb2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* Add border, hide it through transformation */
nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
